	<!-- details -->
	<div class="details app-pages app-section">
		<div class="container">
			<img src="img/details.jpg" alt="">
			<h3>Dental Health</h3>
			<div class="rating">
				<span class="active"><i class="fa fa-star"></i></span>
				<span class="active"><i class="fa fa-star"></i></span>
				<span class="active"><i class="fa fa-star"></i></span>
				<span class="active"><i class="fa fa-star"></i></span>
				<span class=""><i class="fa fa-star"></i></span>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ducimus ipsam, suscipit, nobis necessitatibus eum odio est laborum fugiat veniam explicabo qui laboriosam! Repellat aspernatur doloribus, nulla, hic odio natus!</p>
			<ul class="button-ul">
				<li><button class="button">Booking Now</button></li>
			</ul>
			<div class="comment">
				<h6>2 Comment</h6>
				<div class="content">
					<img src="img/comment1.png" alt="">
					<div class="entry">
						<strong><a href="">John Doe</a></strong>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
					</div>
				</div>
				<div class="content">
					<img src="img/comment2.png" alt="">
					<div class="entry">
						<strong><a href="">John Doe</a></strong>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
					</div>
				</div>
			</div>
			<div class="post-comment">
				<h6>Post Comments</h6>
				<div class="content">
					<form action="#">
						<input type="text" placeholder="Name">
						<input type="email" placeholder="Email">
						<input type="text" placeholder="Website">
						<textarea cols="20" rows="10" placeholder="Comment"></textarea>
						<button class="button">Post Comment</button>
					</form>
				</div>
			</div>
		</div>
	</div>	
	<!-- end details -->	
