<link rel="stylesheet" href="<?php echo base_url();?>static/mobile/lightbox/css/lightbox.css">
<!-- gallery -->
	<div class="gallery app-pages app-section">
		<div class="container">
			<div class="pages-title">
				<h3>Gallery</h3>
			</div>
			<div class="row">
				<div class="col s6">
					<a href="<?php echo base_url();?>static/mobile/gallery1.jpg" data-lightbox="image-1">
						<img src="<?php echo base_url();?>static/mobile/gallery1.jpg" alt="">
					</a>
				</div>
				<div class="col s6">
					<a href="<?php echo base_url();?>static/mobile/gallery2.jpg" data-lightbox="image-1">
						<img src="<?php echo base_url();?>static/mobile/gallery2.jpg" alt="">
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col s6">
					<a href="<?php echo base_url();?>static/mobile/gallery3.jpg" data-lightbox="image-1" data-title="My caption">
						<img src="<?php echo base_url();?>static/mobile/gallery3.jpg" alt="">
					</a>
				</div>
				<div class="col s6">
					<a href="<?php echo base_url();?>static/mobile/gallery4.jpg" data-lightbox="image-1">
						<img src="<?php echo base_url();?>static/mobile/gallery4.jpg" alt="">
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col s6">
					<a href="<?php echo base_url();?>static/mobile/gallery5.jpg" data-lightbox="image-1">
						<img src="<?php echo base_url();?>static/mobile/gallery5.jpg" alt="">
					</a>
				</div>
				<div class="col s6">
					<a href="<?php echo base_url();?>static/mobile/gallery6.jpg" data-lightbox="image-1">
						<img src="<?php echo base_url();?>static/mobile/gallery6.jpg" alt="">
					</a>
				</div>
			</div>
			<div class="pagination">
				<ul>
					<li><a href="">First</a></li>
					<li class="active"><a href="">1</a></li>
					<li><a href="">2</a></li>
					<li><a href="">3</a></li>
					<li><a href="">4</a></li>
					<li><a href="">Last</a></li>
				</ul>
			</div>
		</div>
	</div>	
	<!-- end gallery -->
	<script src="<?php echo base_url();?>static/common/jquery-1.11.1.min.js"></script>
<script src="<?php echo base_url();?>static/mobile/lightbox/js/lightbox.js"></script>	