<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mobile UI sTemplate</title>
	<meta name="viewport" content="width=device-width, initial-scale=1  maximum-scale=1 user-scalable=no">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="HandheldFriendly" content="True">
	
	<link rel="shortcut icon" href="img/favicon.png">

	<link rel="stylesheet" href="<?php echo base_url();?>static/common/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="<?php echo base_url();?>static/mobile/materialize/materialize.min.css">
	<link rel="stylesheet" href="<?php echo base_url();?>static/mobile/slick/slick.css">
	<link rel="stylesheet" href="<?php echo base_url();?>static/mobile/slick/slick-theme.css">
	<link rel="stylesheet" href="<?php echo base_url();?>static/mobile/owl/owl.carousel.css">
	<link rel="stylesheet" href="<?php echo base_url();?>static/mobile/owl/owl.theme.css">
	<link rel="stylesheet" href="<?php echo base_url();?>static/mobile/owl/owl.transitions.css">
	<link rel="stylesheet" href="<?php echo base_url();?>static/mobile/style.css">

</head>
<body>
	<!-- navbar -->
	<div class="navbar">
		<div class="container">
			<div class="panel-control-left">
				<a href="#" data-activates="slide-out-left" class="sidenav-control-left"><i class="fa fa-bars"></i></a>
			</div>
			<div class="site-title">
				<a href="<?php echo base_url();?>mobile/index" class="logo"><h1>Mcare</h1></a>
			</div>
			<div class="panel-control-right">
				<a href="javascript:;"><i class="fa fa-send"></i></a>
			</div>
		</div>
	</div>
	<!-- end navbar -->

	<!-- panel control left -->
	<div class="panel-control-left">
		<ul id="slide-out-left" class="side-nav collapsible"  data-collapsible="accordion">
			<li>
				<a href="<?php echo base_url();?>mobile/index"><i class="fa fa-home"></i>Home</a>
			</li>
			<li>
				<div class="collapsible-header"><i class="fa fa-list"></i>Department <span><i class="fa fa-chevron-right"></i></span></div>
				<div class="collapsible-body">
					<ul class="side-nav-panel">
						<li><a href="<?php echo base_url();?>mobile/department">Department</a></li>
						<li><a href="<?php echo base_url();?>mobile/department2">Department Single</a></li>
					</ul>
				</div>
			</li>
			<li>
				<a href="<?php echo base_url();?>mobile/footer"><i class="fa fa-send"></i>footer</a>
			</li>
			<li>
				<a href="<?php echo base_url();?>mobile/doctor"><i class="fa fa-user"></i>Doctor</a>
			</li>
			<li>
				<a href="<?php echo base_url();?>mobile/gallery"><i class="fa fa-image"></i>Gallery</a>
			</li>
			<li>
				<div class="collapsible-header"><i class="fa fa-shopping-bag"></i>Shop <span><i class="fa fa-chevron-right"></i></span></div>
				<div class="collapsible-body">
					<ul class="side-nav-panel">
						<li><a href="<?php echo base_url();?>mobile/shop">Shop</a></li>
						<li><a href="<?php echo base_url();?>mobile/product_details">Product Details</a></li>
						<li><a href="<?php echo base_url();?>mobile/shopping_cart">Shopping Cart</a></li>
						<li><a href="<?php echo base_url();?>mobile/checkout">Checkout</a></li>
					</ul>
				</div>
			</li>
			<li>
				<div class="collapsible-header"><i class="fa fa-rss"></i>Blog <span><i class="fa fa-chevron-right"></i></span></div>
				<div class="collapsible-body">
					<ul class="side-nav-panel">
						<li><a href="<?php echo base_url();?>mobile/blog">Blog</a></li>
						<li><a href="<?php echo base_url();?>mobile/blog_single">Blog Single</a></li>
					</ul>
				</div>
			</li>
			<li>
				<div class="collapsible-header"><i class="fa fa-file-powerpoint-o"></i>Pages <span><i class="fa fa-chevron-right"></i></span></div>
				<div class="collapsible-body">
					<ul class="side-nav-panel">
						<li><a href="<?php echo base_url();?>mobile/faq">Faq</a></li>
						<li><a href="<?php echo base_url();?>mobile/testimonial">Testimonial</a></li>
						<li><a href="<?php echo base_url();?>mobile/w404">404 Page</a></li>
						<li><a href="<?php echo base_url();?>mobile/pricing">Pricing</a></li>
					</ul>
				</div>
			</li>
			<li>
				<a href="<?php echo base_url();?>mobile/contact"><i class="fa fa-envelope"></i>Contact Us</a>
			</li>
			<li>
				<a href="<?php echo base_url();?>mobile/login"><i class="fa fa-sign-in"></i>Login</a>
			</li>
			<li>
				<a href="<?php echo base_url();?>mobile/register"><i class="fa fa-user-plus"></i>Register</a>
			</li>
		</ul>
	</div>
	<!-- end panel control left -->