<!-- pricing-->
	<div class="pricing app-pages app-section">
		<div class="container">
			<div class="pages-title">
				<h3>Pricing</h3>
			</div>
			<div class="row">
				<div class="col s6">
					<div class="entry app-bg-dark">
						<h4>Dental</h4>
						<span>$21</span>
						<ul>
							<li>Check</li>
							<li>Drug</li>
							<li>Supplement</li>
							<li>Consultation</li>
						</ul>
					</div>
				</div>
				<div class="col s6">
					<div class="entry app-bg-dark">
						<h4>Pharmacy</h4>
						<span>$68</span>
						<ul>
							<li>Check</li>
							<li>Drug</li>
							<li>Supplement</li>
							<li>Consultation</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s6">
					<div class="entry app-bg-dark">
						<h4>Emergency</h4>
						<span>$25</span>
						<ul>
							<li>Check</li>
							<li>Drug</li>
							<li>Supplement</li>
							<li>Consultation</li>
						</ul>
					</div>
				</div>
				<div class="col s6">
					<div class="entry app-bg-dark">
						<h4>Theraphy</h4>
						<span>$24</span>
						<ul>
							<li>Check</li>
							<li>Drug</li>
							<li>Supplement</li>
							<li>Consultation</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s6">
					<div class="entry app-bg-dark">
						<h4>Surgery</h4>
						<span>$19</span>
						<ul>
							<li>Check</li>
							<li>Drug</li>
							<li>Supplement</li>
							<li>Consultation</li>
						</ul>
					</div>
				</div>
				<div class="col s6">
					<div class="entry app-bg-dark">
						<h4>Parmacy</h4>
						<span>$15</span>
						<ul>
							<li>Check</li>
							<li>Drug</li>
							<li>Supplement</li>
							<li>Consultation</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end pricing -->
	