<!-- checkout -->
	<div class="checkout app-pages app-section">
		<div class="container">
			<div class="pages-title">
				<h3>Checkout</h3>
			</div>
			<div class="order">
				<h5 class="title">Your Order</h5>
				<div class="row">
					<div class="col s8">
						<h6>Pills Health</h6>
					</div>
					<div class="col s4 text-right">
						<h6>$14.00</h6>
					</div>
					<div class="col s8">
						<h6>Pills</h6>
					</div>
					<div class="col s4 text-right">
						<h6>$16.00</h6>
					</div>
					<div class="col s8">
						<h5><span>Total</span></h5>
					</div>
					<div class="col s4 text-right">
						<h5><span>$30.00</span></h5>
					</div>
					<button class="button">View Shopping Cart</button>
				</div>
			</div>
			<form action="#">
				<input type="text" placeholder="Name">
				<input type="email" placeholder="Email">
				<input type="number" placeholder="Phone">
				<input type="text" placeholder="Address">
				<textarea name="" id="" cols="30" rows="10" placeholder="Additional Message"></textarea>
				<button type="button" class="button">Submit</button>
			</form>
		</div>
	</div>
	<!-- end checkout -->