<!-- shop -->
	<div class="product popular app-pages app-section">
		<div class="container">
			<div class="pages-title">
				<h3>Shop</h3>
			</div>
			<div class="row">
				<div class="col s6">
					<div class="entry">
						<img src="img/store1.png" alt="">
						<h6><a href="">Pills</a></h6>
						<div class="rating">
							<span class="active"><i class="fa fa-star"></i></span>
							<span class="active"><i class="fa fa-star"></i></span>
							<span class="active"><i class="fa fa-star"></i></span>
							<span class="active"><i class="fa fa-star"></i></span>
							<span class=""><i class="fa fa-star"></i></span>
						</div>
						<div class="price">
							<h5>$18</h5>
						</div>
						<button class="button">ADD TO CART</button>
					</div>
				</div>
				<div class="col s6">
					<div class="entry">
						<img src="img/store2.png" alt="">
						<h6><a href="">Pills</a></h6>
						<div class="rating">
							<span class="active"><i class="fa fa-star"></i></span>
							<span class="active"><i class="fa fa-star"></i></span>
							<span class="active"><i class="fa fa-star"></i></span>
							<span class="active"><i class="fa fa-star"></i></span>
							<span class="active"><i class="fa fa-star"></i></span>
						</div>
						<div class="price">
							<h5>$18</h5>
						</div>
						<button class="button">ADD TO CART</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s6">
					<div class="entry">
						<img src="img/store3.png" alt="">
						<h6><a href="">Pills</a></h6>
						<div class="rating">
							<span class="active"><i class="fa fa-star"></i></span>
							<span class="active"><i class="fa fa-star"></i></span>
							<span class="active"><i class="fa fa-star"></i></span>
							<span class=""><i class="fa fa-star"></i></span>
							<span class=""><i class="fa fa-star"></i></span>
						</div>
						<div class="price">
							<h5>$18</h5>
						</div>
						<button class="button">ADD TO CART</button>
					</div>
				</div>
				<div class="col s6">
					<div class="entry">
						<img src="img/store4.png" alt="">
						<h6><a href="">Pills</a></h6>
						<div class="rating">
							<span class="active"><i class="fa fa-star"></i></span>
							<span class="active"><i class="fa fa-star"></i></span>
							<span class="active"><i class="fa fa-star"></i></span>
							<span class="active"><i class="fa fa-star"></i></span>
							<span class=""><i class="fa fa-star"></i></span>
						</div>
						<div class="price">
							<h5>$18</h5>
						</div>
						<button class="button">ADD TO CART</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s6">
					<div class="entry">
						<img src="img/store5.png" alt="">
						<h6><a href="">Pills</a></h6>
						<div class="rating">
							<span class="active"><i class="fa fa-star"></i></span>
							<span class="active"><i class="fa fa-star"></i></span>
							<span class="active"><i class="fa fa-star"></i></span>
							<span class=""><i class="fa fa-star"></i></span>
							<span class=""><i class="fa fa-star"></i></span>
						</div>
						<div class="price">
							<h5>$18</h5>
						</div>
						<button class="button">ADD TO CART</button>
					</div>
				</div>
				<div class="col s6">
					<div class="entry">
						<img src="img/store6.png" alt="">
						<h6><a href="">Pills</a></h6>
						<div class="rating">
							<span class="active"><i class="fa fa-star"></i></span>
							<span class="active"><i class="fa fa-star"></i></span>
							<span class="active"><i class="fa fa-star"></i></span>
							<span class="active"><i class="fa fa-star"></i></span>
							<span class=""><i class="fa fa-star"></i></span>
						</div>
						<div class="price">
							<h5>$18</h5>
						</div>
						<button class="button">ADD TO CART</button>
					</div>
				</div>
			</div>
			<div class="pagination">
				<ul>
					<li><a href="">First</a></li>
					<li class="active"><a href="">1</a></li>
					<li><a href="">2</a></li>
					<li><a href="">3</a></li>
					<li><a href="">4</a></li>
					<li><a href="">Last</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- end shop -->