	<!-- page 404 -->
	<div class="page-404 app-pages app-section">
		<div class="container">
			<h3>4<span>0</span>4</h3>
			<h6>Oops! Sorry, we could not find the page</h6>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam adipisci dolore alias quod doloremque laborum, sit, magni nulla aliquid sint repellat non saepe at nihil sapiente sunt, facilis ex corrupti?</p>
			<a class="button" href="<?php echo base_url();?>mobile/index">Back to Home Page</a>
		</div>
	</div>
	<!-- end page 404 -->