    <!-- =============================
                Main Slider
    ================================== -->
    <section class="slider-pro blete-slider" id="blete-slider">
        <div class="sp-slides">

            <!-- Slides -->
            <div class="sp-slide blete-main-slides">
                <div class="blete-img-overlay"></div>

                <img class="sp-image" src="<?php echo base_url();?>static/index/images/img-header/slider-img-1.jpg" alt="Slider 1"/>

                <h1 class="sp-layer blete-slider-text-big"
                data-position="center" data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
                		响应式cms免费系统
                </h1>

                <p class="sp-layer"
                data-position="center" data-vertical="15%" data-show-delay="2000" data-hide-delay="200" data-show-transition="left" data-hide-transition="right">
                    <span class="blete-highlight-text">AZCMS</span> 免费的响应式cms免费系统
                </p>
            </div>
            <!-- Slides End -->

            <!-- Slides -->
            <div class="sp-slide blete-main-slides">
            <div class="blete-img-overlay"></div>
                <img class="sp-image" src="<?php echo base_url();?>static/index/images/img-header/slider-img-2.jpg" alt="Slider 2"/>

                <h1 class="sp-layer blete-slider-text-big"
                 data-position="center" data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
                  	 低门槛、轻量级、更易用
                </h1>

                <p class="sp-layer"
                 data-position="center" data-vertical="15%" data-show-delay="2000" data-hide-delay="200" data-show-transition="left" data-hide-transition="right">
                    <span class="blete-highlight-text">CodeIgniter</span>使用大众化的核心
                </p>
            </div>
            <!-- Slides End -->

            <!-- Slides -->
            <div class="sp-slide blete-main-slides">
                <div class="blete-img-overlay"></div>

                <img class="sp-image" src="<?php echo base_url();?>static/index/images/img-header/slider-img-3.jpg" alt="Slider 3"/>

                <h1 class="sp-layer blete-slider-text-big"
                data-position="center" data-show-transition="left" data-hide-transition="right" data-show-delay="1000" data-hide-delay="200">
                    	聚焦电脑、移动化 
                </h1>

                <p class="sp-layer"
                data-position="center" data-vertical="15%" data-show-delay="2000" data-hide-delay="200" data-show-transition="left" data-hide-transition="right">
                   <span class="blete-highlight-text">免费使用</span> 丰富的案例实践，助你灵活应对各种应用场景
                </p>

            </div>
            <!-- Slides End -->

        </div>
    </section>
    <!-- Main Slider End -->



    <!-- =============================
                    Team Section
    ================================== -->
    <section id="team" class="blete-section-wrapper blete-team-section">
        <div class="container">
            <div class="row">

                <!-- Team Slider -->
                <div id="team-slider" class="owl-carousel blete-team-carousal col-md-12 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="2s">

                    <!-- Slides -->
                    <div class="blete-team-slides col-md-12 col-sm-12 col-xs-12">

                        <div class="blete-member-img-wrapper">
                            <img src="<?php echo base_url();?>static/index/images/img-team/team-img-1.png" alt="Team Member 1">
                        </div>

                        <div class="blete-member-details">
                            <h3>John Doe</h3>
                            <span class="blete-member-desg">移动应用开发者</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, impedit ducimus illo, minus nemo iste ut sint dolorum magnam nam in, dolorem veritatis. Ipsum voluptatibus, rem fuga nesciunt. In, totam..</p>
                            <ul class="blete-team-social-icon">
                                <li class="social-facebook">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="social-twitter">
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="social-gplus">
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- Slides End -->

                    <!-- Slides -->
                    <div class="blete-team-slides col-md-12 col-sm-12 col-xs-12">

                        <div class="blete-member-img-wrapper">
                            <img src="<?php echo base_url();?>static/index/images/img-team/team-img-2.png" alt="Team Member 2">
                        </div>

                        <div class="blete-member-details">
                            <h3>Marthin Doe</h3>
                            <span class="blete-member-desg">网站应用开发者</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos dolorem repellendus animi veritatis iure odio laudantium, molestiae. Recusandae quisquam sed laudantium et veritatis, blanditiis ad fugiat aperiam quia tempora.</p>
                            <ul class="blete-team-social-icon">
                                <li class="social-facebook">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="social-twitter">
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="social-gplus">
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- Slides End -->

                    <!-- Slides -->
                    <div class="blete-team-slides col-md-12 col-sm-12 col-xs-12">

                        <div class="blete-member-img-wrapper">
                            <img src="<?php echo base_url();?>static/index/images/img-team/team-img-1.png" alt="Team Member 3">
                        </div>

                        <div class="blete-member-details">
                            <h3>Lucas Doe</h3>
                            <span class="blete-member-desg">公众帐号开发者</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste earum blanditiis doloribus sapiente officiis incidunt vitae aliquam, nulla eos optio fuga possimus, voluptatum impedit omnis? Doloremque ut aliquam unde officiis.</p>
                            <ul class="blete-team-social-icon">
                                <li class="social-facebook">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="social-twitter">
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="social-gplus">
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- Slides End -->

                    <!-- Slides -->
                    <div class="blete-team-slides col-md-12 col-sm-12 col-xs-12">

                        <div class="blete-member-img-wrapper">
                            <img src="<?php echo base_url();?>static/index/images/img-team/team-img-4.png" alt="Team Member 4">
                        </div>

                        <div class="blete-member-details">
                            <h3>Jordi Doe</h3>
                            <span class="blete-member-desg">小程序开发者</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam quae, id cumque reprehenderit est. Facere quaerat reprehenderit maxime distinctio blanditiis laudantium nesciunt ratione cumque pariatur illum eius, non dignissimos eveniet!</p>
                            <ul class="blete-team-social-icon">
                                <li class="social-facebook">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="social-twitter">
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="social-gplus">
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- Slides End -->

                </div>
                <!-- Team Slider End -->
            </div>
        </div>
    </section>
    <!-- Team Section End -->

    <!-- =============================
                    Skill Section
    ================================== -->
    <section id="skill" class="blete-our-skills">
        <div class="container">
            <div class="row">

                <!-- Skills -->
                <div class="blete-skills-wrapper">

                    <div class="col-md-3 col-sm-6 col-xs-12 blete-skill-item">
                        <div class="chart chart-ps" data-percent="95">
                            <span class="percent"></span>
                            <h3>HTML5</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, nisi hic sapientem.</p>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12 blete-skill-item">
                        <div class="chart chart-php" data-percent="90">
                            <span class="percent"></span>
                            <h3>CSS3</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12 blete-skill-item">
                        <div class="chart chart-js" data-percent="80">
                            <span class="percent"></span>
                            <h3>Javascript</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12 blete-skill-item">
                        <div class="chart chart-wp" data-percent="80">
                            <span class="percent"></span>
                            <h3>PHP</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum assumenda.</p>
                    </div>

                </div>
                <!-- Skills End -->
            </div>
        </div>
    </section>
    <!-- Skill seciton End -->


    <!-- =============================
                Featured Work Section
    ================================== -->
    <section id="featured-works" class="blete-section-wrapper blete-section-work">
        <!-- Featured Works Slider -->
        <div class="container-fluid">
            <div class="row-fluid">

                <div class="blete-portfolio-work-slider-section wow fadeIn" data-wow-duration="2s">
                    <div id="featured-work-slider" class="owl-carousel blete-portfolio-works-slider">

                        <!-- Work 1 -->
                        <div class="blete-portfolio-work-item">

                            <img src="<?php echo base_url();?>static/index/images/img-work/work1.jpg" alt="work">
                            <div class="blete-port-work-details">
                                <ul class="blete-work-meta">
                                    <li class="blete-lighbox"><a href="images/img-work/work1.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>

                        </div>
                        <!-- Work 1 End -->

                        <!-- Work 2 -->
                        <div class="blete-portfolio-work-item">

                            <img src="<?php echo base_url();?>static/index/images/img-work/work2.jpg" alt="work">
                            <div class="blete-port-work-details">
                                <ul class="blete-work-meta">
                                    <li class="blete-lighbox"><a href="images/img-work/work2.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>

                        </div>
                        <!-- Work 2 End -->

                        <!-- Work 3 -->
                        <div class="blete-portfolio-work-item">

                            <img src="<?php echo base_url();?>static/index/images/img-work/work3.jpg" alt="work">
                            <div class="blete-port-work-details">
                                <ul class="blete-work-meta">
                                    <li class="blete-lighbox"><a href="images/img-work/work3.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>

                        </div>
                        <!-- Work 3 End -->

                        <!-- Work 4 -->
                        <div class="blete-portfolio-work-item">

                            <img src="<?php echo base_url();?>static/index/images/img-work/work4.jpg" alt="work">
                            <div class="blete-port-work-details">
                                <ul class="blete-work-meta">
                                    <li class="blete-lighbox"><a href="images/img-work/work4.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>

                        </div>
                        <!-- Work 4 End -->

                        <!-- Work 5 -->
                        <div class="blete-portfolio-work-item">

                            <img src="<?php echo base_url();?>static/index/images/img-work/work5.jpg" alt="work">
                            <div class="blete-port-work-details">
                                <ul class="blete-work-meta">
                                    <li class="blete-lighbox"><a href="images/img-work/work5.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>

                        </div>
                        <!-- Work 5 End -->

                        <!-- Work 6 -->
                        <div class="blete-portfolio-work-item">

                            <img src="<?php echo base_url();?>static/index/images/img-work/work6.jpg" alt="work">
                            <div class="blete-port-work-details">
                                <ul class="blete-work-meta">
                                    <li class="blete-lighbox"><a href="images/img-work/work6.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>

                        </div>
                        <!-- Work 6 End -->

                        <!-- Work 7 -->
                        <div class="blete-portfolio-work-item">

                            <img src="<?php echo base_url();?>static/index/images/img-work/work7.jpg" alt="work">
                            <div class="blete-port-work-details">
                                <ul class="blete-work-meta">
                                    <li class="blete-lighbox"><a href="images/img-work/work7.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>

                        </div>
                        <!-- Work 7 End -->

                    </div>
                </div>
            </div>
        </div>
        <!-- Featured Works Slider -->

    </section>
    <!-- Featured Work End -->



    <!-- =============================
                Custom Section
    ================================== -->
    <section class="blete-custom-sec blete-section-wrapper blete-description">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 blete-custom-sec-img wow bounceInLeft">
                    <img src="<?php echo base_url();?>static/index/images/features.png" alt="Custom Image">
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 blete-custom-sec-text wow bounceInRight">
                    <p>成为最受尊敬的互联网企业是腾讯的愿景目标。腾讯一直积极参与公益事业、努力承担企业社会责任、推动网络文明。腾讯的每一项产品与业务都拥抱公益，开放互联，并倡导所有企业一起行动，通过互联网领域的技术、传播优势，缔造“人人可公益，民众齐参与”的互联网公益新生态。</p>
                    <p>是目前中国领先的互联网增值服务提供商之一。成立10多年来，腾讯一直秉承“一切以用户价值为依归”的经营理念，为亿级海量用户提供稳定优质的各类服务，始终处于稳健发展状态。</p>
                    <ul>
                        <li><i class="fa fa-check"></i>内容内容内容内容内容1.</li>
                        <li><i class="fa fa-check"></i>内容内容内容内容内容2</li>
                        <li><i class="fa fa-check"></i>内容内容内容内容内容3</li>
                        <li><i class="fa fa-check"></i>内容内容内容内容内容4</li>
                        <li><i class="fa fa-check"></i>内容内容内容内容内容5</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Custom Section End -->