    <div class="header-img">
        <img src="images/img-header/slider-img-1.jpg" alt="">
    </div>


    <!-- =============================
            Pricing Section
    ================================== -->
    <section id="pricing" class="blete-pricing-section">
        <div class="container">
            <div class="row">

                <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 blete-section-header wow fadeInDown">
                    <h2><span class="blete-highlight-text">PRICING</span></h2>
                    <div class="blete-section-divider"></div>
                    <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, nesciunt, placeat esse officia eaque blanditiis nulla explicabo.</p>
                </div>
                <!-- Section Header End -->

                <div class="blete-pricing-wrapper">

                    <!-- Plans -->
                    <div class="col-md-4 col-sm-4 col-xs-12 blete-pricing-plans wow bounceInLeft pricing-plan-one">
                        <div class="blete-pricing-titles">
                            <h2>Simple</h2>
                            <p><span>$50/</span>Month</p>
                        </div>
                        <div class="blete-pricing-service-name">
                            <ul>
                                <li>Free Setup</li>
                                <li>Free Domain 1 Year</li>
                                <li>6 Sub Domain</li>
                                <li>Free 5 Theme</li>
                                <li>Free Support / Week</li>
                                <li>Free Update Theme</li>
                                <li>Free 5 PSD</li>
                            </ul>
                        </div>

                        <a href="#" class="blete-signup-btn">SIGN UP</a>
                    </div>
                    <!-- Plans End -->

                    <!-- Plans -->
                    <div class="col-md-4 col-sm-4 col-xs-12 blete-pricing-plans blete-recommended-pricing wow fadeInUp" data-wow-duration="1s">
                        <div class="blete-pricing-titles">
                            <h2>Standard</h2>
                            <p><span>$80/</span>Month</p>
                        </div>
                        <div class="blete-pricing-service-name">
                            <ul>
                                <li>Free Setup</li>
                                <li>Free Domain 2 Year</li>
                                <li>12 Sub Domain</li>
                                <li>Free 10 Theme</li>
                                <li>24/7 Free Support</li>
                                <li>Free Update Theme</li>
                                <li>Free 10 PSD</li>
                            </ul>
                        </div>

                        <a href="#" class="blete-signup-btn">SIGN UP</a>
                    </div>
                    <!-- Plans End -->

                    <!-- Plans -->
                    <div class="col-md-4 col-sm-4 col-xs-12 blete-pricing-plans wow bounceInRight">
                        <div class="blete-pricing-titles">
                            <h2>Ultimate</h2>
                            <p><span>$150/</span>Month</p>
                        </div>
                        <div class="blete-pricing-service-name">
                            <ul>
                                <li>Free Setup</li>
                                <li>Free Domain 4 Year</li>
                                <li>Unlimited Sub Domain</li>
                                <li>Unlimited Theme</li>
                                <li>24/7 Free Support</li>
                                <li>Free Update Theme</li>
                                <li>Unlimited PSD</li>
                            </ul>
                        </div>

                        <a href="#" class="blete-signup-btn">SIGN UP</a>
                    </div>
                    <!-- Plans End -->

                </div>
            </div>
        </div>
    </section>
    <!-- Pricing End -->
